

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  overflow: hidden;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-weight: normal;
}


header {
    height: 20vh;
    min-height: 180px;
    max-height: 500px;
    pointer-events: none;
    display: flex;
}
header i {
    font-size:3.5em;
    margin: auto;
    color: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(10px); */
    font-family: "Microsoft YaHei", "黑体", "SimHei", sans-serif;
    font-weight: 600;
    /* 适当降低字重避免拥挤 */
    letter-spacing: 0.05em;
    /* 增加轻微字距 */
    font-style: normal;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, .16);
}

#background-gradient {
  position: fixed;
  inset: 0;
  z-index: -1;
}
#background-gradient .mask {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.search-input[data-v-40f78fe7] {
    width: 85%;
    min-width: 300px;
    max-width: 960px;
    height: 50px;
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.search-input input[data-v-40f78fe7]{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    display: block;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    font-size: 1.1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.search-input input.open-list[data-v-40f78fe7] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    box-shadow: none;
}
.search-input .sugrec-list[data-v-40f78fe7] {
    list-style: none;
    background-color: white;
    max-height: 50vh;
    overflow:auto;
    width: 100%;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px;
    transform-origin:top;
    transition: transform 0.1s cubic-bezier(0, 0, 0.24, 1.09);
    padding-bottom: 15px;
}
.search-input .sugrec-list button[data-v-40f78fe7]{
    background-color: transparent;
    border: none;
}
.search-input .sugrec-list li.key[data-v-40f78fe7] {
    height: 36px;
    font-weight: 500;
    font-size: 1.03em;
    cursor: pointer;
    padding: 0 32px;
    position: relative;
    display: flex;
     align-items: center;
}
.search-input .sugrec-list li.key[data-v-40f78fe7]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.search-input .sugrec-list li .clear-key[data-v-40f78fe7]{
    position: absolute;
    right: 6px;
    height: 24px;
    top:6px;
    display: none;
}
.search-input .sugrec-list li.key:hover .clear-key[data-v-40f78fe7]{
    display: block;
}
.search-input .sugrec-list .clear-history[data-v-40f78fe7]{
    height: 24px;
    margin-top: 6px;
    margin-left: 30px;
    cursor: pointer;
    color: #4098DB;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 3px;
}
.search-input .sugrec-list .clear-history[data-v-40f78fe7]:hover{
    color: white;
    background-color: #4098DB;
}

nav[data-v-df216c7c] {
  margin-top: 32px;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 0;
  width: 85%;
  min-width: 300px;
  max-width: 960px;
}
ul[data-v-df216c7c] {
  list-style-type: none;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.item[data-v-df216c7c] {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item span[data-v-df216c7c]{
  color:white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 0.8em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item i[data-v-df216c7c] {
  height: 32px;
  width: 32px;
}
.item[data-v-df216c7c]:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.add-item[data-v-df216c7c] {
  flex-direction: row;
}
.add-item i[data-v-df216c7c] {
  background-image: url(./iconAdd-B0FVQiTG.png);
  height: 48px;
  width: 48px;
  display: block;
  transition: background-image 0.5s ease-in-out;
}
.add-item i[data-v-df216c7c]:hover {
  background-position: -48px 0px;
}
.add-item i[data-v-df216c7c]:active {
  background-position: -96px 0px;
}

main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
