/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  overflow: hidden;
}
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-weight: normal;
}


#background-gradient {
  position: fixed;
  inset: 0;
  z-index: -1;
}
#background-gradient .mask {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.search-input[data-v-12034f40] {
    width: 100%;
    padding: 0 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
input[type="search"][data-v-12034f40] {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-width: 300px;
    max-width: 980px;
    border: none;
    height: 50px;
    border-radius: 25px;
    outline: none;
    padding: 0 30px;
    font-size: 1.1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.search-input input.open-list[data-v-12034f40] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: none;
}
.sugrec-list[data-v-12034f40] {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    padding: 12px;
    padding-bottom: 0;
    min-width: 300px;
    max-width: 980px;
    width: 100%;
    margin: 0 28px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}
.sugrec-list button[data-v-12034f40] {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.sugrec-list button.close[data-v-12034f40]{
    position: absolute;
    right: 0;
    top: 0;
}
.sugrec-list  li.key[data-v-12034f40]{
    height: 36px;
    font-weight: 500;
    font-size: 1.03em;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
}
.sugrec-list  li.key[data-v-12034f40]:hover{
    
    background-color: rgba(0, 0, 0, 0.1);
}

main {
  height: 100%;

  display: flex;
  flex-direction: column;
}
